
body {
    margin:0;
    padding:0;
}

header {
    top:0;
    left:0;
    height:6em;
    position:fixed;
    width:20%;
    padding:20px;
}

nav#SideBar {
    top:6em;
    left:0;
    position:fixed;
    width:25%;
    height:90%;
    margin:0;
    padding:10px;
    overflow:auto;
}

div#Articles{
    height:90%;
    top:10%;
    left:25%;
    padding:20px;
    padding-top:70px;
    position:relative;
    width:70%;
}

div.Article{
    border:3px gray solid;
    border-radius:20px;
    padding: 5px 10px 5px;
    margin: 10px;
}

div.Tag span{
    cursor: pointer;
}

span.ArticleTag{
    cursor: pointer;
}

nav h2 {
    font-size:20px;
}

nav span{
    cursor: pointer;
}

img{
    cursor: pointer;
}

nav.ArticleTag{
    display: none;
}

#SearchForm>nav{
    display:none;
}

