
#PageTitle{}

div.Tag span{
    cursor: pointer;
}

span.ArticleTag{
    cursor: pointer;
}

nav span{
    cursor: pointer;
}

nav.ArticleTag>ul{
    display: none;
}

nav.ArticleTag>div{
    display: none;
}


