<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <script src="./js/jquery-1.8.2.js"></script>
        <script src="./js/nav.js"></script>
        <script src="./js/ready.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <title>{{title}}</title>
    </head>
    <body>
        <h1 id="PageTitle">{{title}}</h1><hr/>
        <nav>
        <form id="SearchForm">
            <input id="SearchKeyID" type="text" name="SearchKeyWard" oninput="search()" autofocus placeholder="Search Keywards">
        </form>
        <nav class="Tag">
            <span>Tags</span>
            <ul class="Selector">
                {% for tag in tags %}
                <li>
                    <div id="{{tag}}" class="Tag">
                        <span>{{tag}}</span>
                        <img src="./icons/delete.png" title="delete this tag"/>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <span id="ResetTag" class="Tag">reset</span>
                </li>
            </ul>
            <div id="TagAdd">
                <input type="text" placeholder="Tag Name"/>
                <input type="button" value="create" title="Create a new tag(reload requires)"/>
            </div>
        </nav>
        </nav>
        {% for entry in entries %}
        <div id='{{entry["key"]}}' class="Article">
            <a class="ArticleLink" href='./pdf/{{entry["key"]}}.pdf'>{{entry["title"]}}</a>
            <ul>
                <li>Author : {{entry["author"]}}</li>
                <li>Journal: {{entry["journal"]}}</li>
                <li>Published Year: {{entry["year"]}}</li>
            </ul>
            <nav class="ArticleTag">
                <span>Tags of article</span>
                <ul class="ArticleTagList">
                    {% for tag in entry["tags"] %}
                    <li>
                        <div id="{{tag}}" class="ArticleTag">
                            <span>{{tag}}</span>
                            <img src="./icons/delete.png" title="delete this tag"/>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="AddArticleTag">
                    <input type="text" placeholder="Tag Name"/>
                    <input type="button" value="create" title="Create a new article tag(reload requires)"/>
                </div>
            </nav>
        </div>
        {% endfor %}
    </body>
</html>
