<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <script src="./js/jquery-1.8.2.js"></script>
        <script src="./js/nav.js"></script>
        <script src="./js/ready.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <title>{{title}}</title>
    </head>
    <body>
        <h1 id="PageTitle">{{title}}</h1><hr/>
        <nav>
        <form id="SearchForm">
            <input id="SearchKeyID" type="text" name="SearchKeyWard" oninput="search()" autofocus placeholder="Search Keywards">
        </form>
        <div id="TagSelector">
            <h5>Tags</h5>
            <ul>
                {% for tag in tags %}
                <li>
                    <span id="{{tag}}" class="Tag">{{tag}}</span>
                </li>
                {% endfor %}
                <li>
                    <span id="ResetTag" class="Tag">reset</span>
                </li>
            </ul>
        </div>
        <div id="TagAdd">
            <input type="text" placeholder="Tag Name"/>
            <input type="button" value="create Tag"/>
        </div>
        </nav>
        {% for entry in entries %}
        <div id='{{entry["key"]}}' class="Article">
            <a class="ArticleLink" href='./pdf/{{entry["key"]}}.pdf'>{{entry["title"]}}</a>
            <ul>
                <li>Author : {{entry["author"]}}</li>
                <li>Journal: {{entry["journal"]}}</li>
                <li>Published Year: {{entry["year"]}}</li>
            </ul>
            <div class="ArticleTag">
                {% for tag in entry["tags"] %}
                    <span class="ArticleTag">{{tag}}</span>
                {% endfor %}
                <div class="AddArticleTag"></div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
