<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <script>
            addr_header = "http://{{address}}:{{port}}"
        </script>
        <script src="./js/jquery-1.8.2.js"></script>
        <script src="./js/nav.js"></script>
        <script src="./js/ready.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <h1 id="PageTitle">{{title}}</h1>
        </header>
        <nav id="SideBar">
            <div id="SearchForm">
                <img class="Search" src="./icons/search.png" width="20px"/>
                <input id="SearchKeyID" type="text" name="SearchKeyWard" oninput="search()" autofocus placeholder="Search Keywards">
                <img class="Delete" src="./icons/delete.png"/>
                <nav id="DetailSearch">
                    <h2>Detail Search</h2>
                    no filter is available
                </nav>
            </div>
            <nav class="Tag">
                <h2>Tags <img src="./icons/tag.png" height="20px"/> </h2>
                <ul class="Selector">
                    {% for tag in tags %}
                    <li>
                        <div id="{{tag}}" class="Tag">
                            <span>{{tag}}</span>
                            <img src="./icons/delete.png" title="delete this tag"/>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <span id="ResetTag" class="Tag">reset</span>
                    </li>
                </ul>
                <div id="TagAdd">
                    <input type="text" placeholder="Tag Name"/>
                    <input type="button" value="create" title="Create a new tag(reload requires)"/>
                </div>
            </nav>
            <nav id="BibRegister">
                <h2>register BibTeX source <img src="./icons/register.png" width="20px"/></h2>
                <div>
                    <textarea id="bibstr" placeholder="paste bibtex source here"></textarea>
                    <button>register</button>
                </div>
            </nav>
            <nav id="UpdateHTML">
                <h2>update HTML <img id="UpdateImg" src="./icons/update.png" width="20px"/> </h2>
            </nav>
        </nav>
        <div id="Articles">
        {% for entry in entries %}
        <div id='{{entry["key"]}}' class="Article">
            <img class="TagImg" src="./icons/tag.png" height="20px"/>
            <a class="ArticleLink" href='{{pdf_dir}}{{entry["key"]}}.pdf'>{{entry["title"]}}</a>
            <ul>
                <li>Author : {{entry["author"]}}</li>
                <li>Journal: {{entry["journal"]}}</li>
                <li>Published Year: {{entry["year"]}}</li>
            </ul>
            <nav class="ArticleTag">
                <span>Tags of article</span>
                <ul class="ArticleTagList">
                    {% for tag in entry["tags"] %}
                    <li>
                        <div id="{{tag}}" class="ArticleTag">
                            <span>{{tag}}</span>
                            <img src="./icons/delete.png" title="delete this tag"/>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="AddArticleTag">
                    <input type="text" placeholder="Tag Name"/>
                    <input type="button" value="create" title="Create a new article tag(reload requires)"/>
                </div>
            </nav>
        </div>
        {% endfor %}
        </div>
    </body>
</html>
